body{
	margin: 0;
}

nav{
	padding: 10px;
	display: flex;
}

.header{
	background-color: #97d4cd;
	display: flex;
	height: 10vh;
}
.header-title{
	font-family: sans-serif;
    font-weight: 300;
}